/* GENERAL STYLES ----------------*/

html {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-image: url("../img/cash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}

.wrapper {
  width: 90%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  background-color: rgba(60, 60, 60, 0.8);
  margin: 5% auto;
  text-align: center;
  border-radius: 20px;
  flex: 1 1 auto;
  padding: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-numbers {
  background-color: white;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  margin: 10px 1.5%;
  line-height: 3rem;
  flex: 0 0 auto;
  color: black;
}

/* LINK STYLES ----------------*/

a:link {
  color: white;
}

a:visited {
  color: rgb(150, 150, 150);
}

a:hover {
  color: white;
}


/* BUTTON STYLES ----------------*/

button {
  outline: none;
}

.button {
    margin: 30px auto;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(70%, 70%, 70%);
    border: solid 1px white;
}

.button:hover, .game:hover {
    background-color: rgb(20%, 20%, 20%);
    color: white;
}

.game {
    padding: 5px 20px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: rgb(70%, 70%, 70%);
    margin: 0 20px;
    margin-bottom: 30px;
    width: 200px;
    height: 40px;
}

.mega {
    background-color: yellow;
}

.power {
    background-color: red;
}

#gametype {
    font-size: 1.5em;

}

/* BALL STYLES ----------------*/

.gradient {
  background-image:
    radial-gradient(
      circle at bottom left,
      rgba(255, 255, 255, 0) 10%,
      rgba(0, 0, 0, 0.8)
    );
  z-index: 1;
}

/* PYTHON PAGE STYLES ---------*/

summary {
  outline: none;
}

pre {
  text-align: left;
  font-size: 0.85em;
}

.python {
  height: auto;
  display: block;
  width: 100%;
  border-radius: 0;
  height: 100%;
  padding: 15px;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0 auto;
}

.summary {
  font-weight: 300;
}

/* MEDIA QUERIES ----------------*/

@media (min-width: 660px) {
  .single-numbers {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2em;
  }

}

@media (min-width: 1024px){
  .single-numbers {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    font-size: 3em;
  }
}

@media screen and (orientation: landscape) and (max-width: 1334px){
  .wrapper {
    max-height: 90%;
    margin: 5px auto;
  }

  .single-numbers {
    margin: 0 1.5%;
  }

  #gametype {
    font-size: 0.75em;
  }

  .button {
    margin: 5px auto;
  }

  .game {
    margin-bottom: 5px;
  }
}
